body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

hr {
  border-color: grey;
  opacity: 0.3;
  width: 20rem;
}

html {
  scroll-behavior: smooth;
}

.canvasBoysLogo {
  max-width: 20rem;
  height: 3rem;
  padding: 0;
  margin: 0;
}

.mainNav {
  background-color: #000000 !important;
  border-bottom: 1px solid orange;
}

/* Canvas */

.canvas {
  position: absolute;
  overflow: hidden;
}

/******************************************************************************/

/* sidebar */

.wrapper {
  display: flex;
  text-decoration: none;
  transition: all 0.5s;
}

#sidebar,
#premiumSidebar {
  max-width: 18rem;
  min-width: 18rem;
  transition: all 0.5s;
  font-weight: bold;
  z-index: 999;
}

.inner-sidebar {
  max-width: 18rem;
  min-width: 18rem;
}

.sidebar-header {
  border-bottom: 1px solid orange;
}

.sidebar-subhead {
  height: auto;
}

#sidebar.active,
#premiumSidebar.active {
  margin-left: -18rem;
  height: 100vh;
}

#sidebar ul p {
  padding: 0 1rem;
}

#sidebar ul li a {
  padding: 1rem;
  display: block;
}

#sidebar ul li a:hover {
  color: #495057;
  background: #f5cb5c;
}

#content {
  width: 100%;
  min-height: 100vh;
  transition: 0.5s;
}

.colorSelector {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.colorPicker {
  padding: 0px 40px;
}

.btn {
  padding: 1rem 1rem;
  border-radius: 0px !important;
}

.btn-group {
  border-radius: 0px !important;
}

.colorPalette button:hover {
  border: 1px solid white;
}

.btn1 {
  background-color: #0000ff;
}

.btn2 {
  background-color: #009fff;
}

.btn3 {
  background-color: #0fffff;
}

.btn4 {
  background-color: #bfffff;
}

.btn5 {
  background-color: #000000;
}

.btn6 {
  background-color: #333333;
}

.btn7 {
  background-color: #666666;
}

.btn8 {
  background-color: #999999;
}

.btn9 {
  background-color: #ffcc66;
}

.btn10 {
  background-color: #ffcc00;
}

.btn11 {
  background-color: #ffff00;
}

.btn12 {
  background-color: #ffff99;
}

.btn13 {
  background-color: #003300;
}

.btn14 {
  background-color: #555000;
}

.btn15 {
  background-color: #00ff00;
}

.btn16 {
  background-color: #99ff99;
}

.btn17 {
  background-color: #f00000;
}

.btn18 {
  background-color: #ff6600;
}

.btn19 {
  background-color: #ff9933;
}

.btn20 {
  background-color: #f5deb3;
}

.btn21 {
  background-color: #330000;
}

.btn22 {
  background-color: #663300;
}

.btn23 {
  background-color: #cc6600;
}

.btn24 {
  background-color: #deb887;
}

.btnA1 {
  background-color: #331832;
}

.btnA2 {
  background-color: #de6449;
}

.btnA3 {
  background-color: #a1fcdf;
}

.btnA4 {
  background-color: #298089;
}

.btnA5 {
  background-color: #7fff00;
}

.btnA6 {
  background-color: #b20d30;
}

.btnA7 {
  background-color: #fffcf9;
}

.btnA8 {
  background-color: #f6ae2d;
}

.brushes {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.btn-info {
  width: 3.1rem;
  background-color: #ff9900 !important;
  border: 1px solid #ff9900 !important;
}

.btn-info:hover {
  transform: scale(1.1);
  border: 1px solid black !important;
}

.utility {
  max-width: 2rem;
  max-height: 2rem;
}

.utilities {
  margin-right: 2rem;
  margin-left: 0.5rem;
  margin-bottom: 1.2rem;
  border-radius: 10px;
}

.utilities:hover {
  transform: scale(1.2);
}

.utilitiesContainer {
  padding-top: 1.5rem;
}

#polygonSides {
  width: 6rem;
  height: 2rem;
  margin-right: 1rem;
  margin-left: 0.4rem;
}

.fillBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.colorPicker {
  display: flex;
  justify-content: center;
  align-items: center;
}

.colorPick {
  padding-top: 1rem;
}

.bottomUtilities {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottomUtilitiesContainer {
  padding-top: 1.5rem;
}

.polySides {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  border-bottom: 1px solid orange;
}

.saveAndClear {
  margin-top: 10px;
}

.polygonIcon {
  width: 2rem;
  height: 2rem;
}

.polygonBarIcon {
  margin-left: 1.5rem;
  margin-right: 3rem;
}

.copyright {
  text-align: center;
  font-size: 0.5rem;
}

/******************************************************************************/

/* navbar */

.navbar .navbar-collapse {
  text-align: right;
}

.navbar-brand {
  margin-left: 2rem;
}

.menu-btn {
  border-bottom-right-radius: 110px !important;
  border-top-right-radius: 110px !important;
  border: none;
  margin-left: -2rem;
  background: #343a40;
  color: orange;
}

.btn:focus {
  box-shadow: none;
}

#canvasFrame {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/******************************************************************************/

/* Hero */

.hero {
  height: 100%;
  width: 100%;
  position: relative;
}

.dark-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 4.5rem;
  background-color: #000000;
}

.inner-hero {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  border: 2px solid white;
}

.inner-hero-header {
  font-family: "Dancing Script", cursive;
  color: #faedcb;
  font-size: 8rem;
}

.inner-hero-text {
  font-family: "Dancing Script", cursive;
  color: #faedcb;
  font-size: 4rem;
}

/******************************************************************************/

/* animation html styling*/

.ballColors {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ballMultiplier {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  border-top: 1px solid orange;
}

.ballUtility {
  font-size: 30px;
}

.premium {
  font-size: 0.8rem;
}

.copyrightBox {
  margin-top: 17rem;
}

.clearIcon {
  margin-top: 1rem;
  border-top: 1px solid orange;
  text-align: center;
  padding-top: 1rem;
}

#clearBalls {
  margin-left: 2rem;
}

#premiumSidebar {
  max-width: 19rem;
  min-width: 19rem;
  opacity: 0.75;
  transition: all 0.5s;
  font-weight: bold;
  z-index: 999;
  position: fixed;
  height: 100%;
}

/******************************************************************************/

/* scroll bar */

::-webkit-scrollbar {
  width: 5px;
  background: silver;
}
::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #495057;
}

/******************************************************************************/

/* @media */

@media screen and (max-width: 500px) {
  .inner-hero-header {
    font-size: 5rem;
  }

  .inner-hero-text {
    font-size: 3rem;
  }

  .menu-btn {
    margin-left: -1rem;
  }

  .inner-aboutMe-icon {
    width: 20rem;
  }

  .each-header {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 990px) {
  .menu-btn {
    margin-left: -1rem;
  }
}
